* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #EEF9BF;
}
.corpo {    
    display: flex;
    flex-direction: column;
    padding-top: 34px;

    align-items: center;
    text-align: center;
}
h1 {
    font-family: roboto;
    font-weight: 700;
    font-size: 56px;
    color: #75B79E;
}
.tempo {
    font-family: roboto;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    
    background-color: #75B79E;
    border-radius: 25%;
    padding: 15px;
    margin-top: 10px;
}

.jogo {
    margin: 47px 116px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 34px;

}
.carta {
    width: 117px;
    height: 146px;

    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.carta img {
    width: 100px;
    height: 100px;
    position: absolute;
}

.esconder {
    display: none;
}

@media (max-width: 614px) {
    .jogo {
        margin: 47px;
    }
}